env
env-work
env-home
.ipynb_checkpoints
.idea
figs/tutorial_python
figs/figure1.pdf
figs/figure2.pdf
figs/figure3.pdf
figs/figure4.pdf
figs/figure_q1a.pdf
figs/q1_figure1.pdf
figs/q1_figure2.pdf
figs/q1_figure4.pdf
figs/q1_figure6.pdf
figs/q1_figure8.pdf
figs/q1_figure_1.pdf
figs/q2_figure.pdf
figs/q2_figure1.pdf
figs/q3_figure.pdf
wolf_tests
rel-diag_mturk_analysis2.ipynb
rel-diag_mturk_analysis3.ipynb
rel-diag_mturk_analysis4.ipynb
rel-diag_mturk_analysis-OLD.ipynb
q1_figure2.svg
figs/q1_figure1.svg
figs/q2_figure.svg
figs/q3_figure.svg
q4_figure.pdf
figs/q2_figurev2.pdf
figs/q2_figurev2.svg
figs/q4_figure.svg
